/* DoctorDetails.css */
.doctor-details-container {
    display: flex;
    min-height: 100vh;
  }
  
  
  .doctor-details {
    flex-grow: 1;
    padding: 30px;
    background-color: #f4f7fa;
    overflow-y: auto;
    margin-left: 300px; 
  }
  
  .doctor-details-left {
    width: 40%;
    padding-right: 20px;
  }
  
  .doctor-image {
    display: flex;
    justify-content: center;
  }
  
  .doctor-profile-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 250px;
    object-fit: cover;
  }
  
  .doctor-details-right {
    width: 60%;
  }
  
  .doctor-details-right h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .doctor-details-right p {
    font-size: 18px;
    margin-top: 10px;
    color: #555;
  }
  
  .doctor-details-description p {
    font-size: 16px;
    line-height: 1.5;
    color: #777;
  }
  
  .consult-now-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .consult-now-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .doctor-details-container {
      flex-direction: column;
      margin-left: 0;
    }
  
    .doctor-details-left, .doctor-details-right {
      width: 100%;
      padding: 0;
    }
  
    .doctor-profile-img {
      width: 80%;
      max-width: 200px;
    }
  }
  