.downbar-lower {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px; /* Space between components */
  }
  
  .chart-section, .division-section{
    flex: 0.9; 
    height: 100%; 
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s;
  }
  
  .division-section:hover, .patients-card:hover, .chart-section:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
  
  .chart-section canvas, .patients-card canvas {
    width: 100% !important;
    height: auto !important; /* Allow auto height for responsiveness */
  }
  
  .division-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .division-table th, .division-table td {
    padding: 12px;
    text-align: left;
  }
  
  .patients-card {
    background-color: rgba(126, 87, 194, 0.2); 
    flex: 0.9; 
    height: 10%; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s;
  }
  
  .patients-card h3 {
    font-size: 36px;
    margin: 0;
  }
  
  .patients-card p {
    margin: 10px 0 20px;
  }
  
  