.chatpage-container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  height: 100vh; 
  padding: 0;
}

.chat-chat {
  flex-grow: 0.8;
  display: flex;
  flex-direction: column;
  height: 100%; 
}

/* Chat list component */
.chatlist {
  flex-shrink: 0; /* Prevents chat list from shrinking */
  width: 400px; /* Adjust the width of the chat list */
  margin-right: 20px; /* Space between chat list and chat */
}

