.terms-of-service {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background:linear-gradient(180deg,#ffffff 0%,#e1ffea22 60%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #007bff;
}

h2:hover {
  text-decoration: underline;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

ul {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 20px;
}

.section-collapsed {
  display: none;
}

.section-expanded {
  display: block;
}

.section-collapsed + p,
.section-collapsed + ul {
  display: none;
}
.logo-service-img{
  width: 22px;
  height: 22px;
}
.logo-service-imgg{
  width: 15px;
  height: 15px;
}

.faq {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background:linear-gradient(180deg,#f5f0eb 0%,#14753322 60%);
  }
  
  .faq h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .faq-list {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .faq-item {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #f7f7f7;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .faq-question:hover {
    background: #3a8de8;
    color: white;
  }
  
  .faq-question h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .faq-question span {
    font-size: 24px;
    transition: transform 0.3s;
  }
  
  .faq-item.active .faq-question span {
    transform: rotate(180deg);
  }
  
  .faq-answer {
    padding: 15px 20px;
    background: white;
    display: none;
    transition: max-height 0.3s ease-in-out;
  }
  
  .faq-answer p {
    margin: 0;
    font-size: 16px;
    color: #666;
  }
  

@media only screen and (max-width: 600px) {
  .terms-of-service {
    padding: 10px;
  }
}
